h1, p {
  color: navy;
  font-family: 'Courier New', Courier, monospace;
}

.destaque {
    color: green;
    font-weight: bold;
}

p.destaque {
    background-color: yellow;
}

#especial {
  color: red;
}
