.pai {
  position: relative;
  width: 300px;
  height: 200px;
  background: #dddddd;
}

.filho {
  position: absolute;
  top: 20px;
  right: 20px;
  background: red;
  color: white;
  padding: 10px;
}

.filhochao{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: blue;
    color: white;
}